pyproj
fastapi[standard]
redis[async]
aiohttp
geopy
python-dateutil
uvicorn[standard]
numpy
prometheus-fastapi-instrumentator
prometheus-client
websockets
pubsub
slowapi
sqlalchemy
asyncpg
psycopg2-binary
geoalchemy2
alembic
python-dotenv
shapely
isodate
geopandas
partridge
SQLAlchemy-Searchable
lxml
govuk-bank-holidays
apscheduler
ciso8601
discord.py
pytest-asyncio
sentry-sdk[fastapi]
pydantic_settings
more_itertools
python-slugify