@import url("https://fonts.googleapis.com/css2?family=Creepster:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.spooky-font {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root[data-theme="blue"] {
    --color-primary-300: #8ec5ff;
    --color-primary-400: #51a2ff;
    --color-primary-500: #2b7fff;
    --color-primary: #155dfc;
    --color-primary-700: #1447e6;
    --color-link: #00a6f4;
    --color-link-400: #00bcff;
    --shadow-primary: rgba(43, 127, 255, 0.5);
    --shadow-primary-hover: rgba(43, 127, 255, 0.6);
}

:root[data-theme="orange"] {
    --color-primary-300: #ffb86a;
    --color-primary-400: #ff8904;
    --color-primary-500: #615fff;
    --color-primary: #f54900;
    --color-primary-700: #ca3500;
    --color-link: #615fff;
    --color-link-400: #7c86ff;
    --shadow-primary: rgba(97, 95, 255, 0.5);
    --shadow-primary-hover: rgba(97, 95, 255, 0.6);
}

@theme {
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary: var(--color-primary);
    --color-primary-700: var(--color-primary-700);
    --color-link: var(--color-link);
    --color-link-400: var(--color-link-400);
    --shadow-primary: var(--shadow-primary);
    --shadow-primary-hover: var(--shadow-primary-hover);
}

.button {
    @apply w-full p-2 px-5 font-semibold text-white transition-all cursor-pointer bg-primary rounded-xl hover:bg-primary-700;
}

html,
body {
    height: 100%;
    margin: 0; /* Prevent margin from body */
}

#root {
    height: 100%;
}

.maplibregl-popup {
    padding: 0px 0px !important;
}

.maplibregl-popup-content {
    padding: 10px !important;
    background-color: #222 !important;
    border-radius: 10px !important;
}
.maplibregl-popup-tip {
    border-top-color: #222 !important;
    border-bottom-color: #222 !important;
}
.maplibregl-popup-close-button {
    padding: 2px 5px !important;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.pulse-animation {
    animation: pulse-out infinite;
}
