@import url("https://fonts.googleapis.com/css2?family=Creepster:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--color-bg-main);
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    * {
        @apply transition-colors duration-300 ease-in-out;
    }
}

.spooky-font {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

:root[data-theme="light"] {
    --color-bg-main: #dadada;
    --color-bg-dark: #f0f0f0;
    --color-bg-semidark: #e4e4e4;
    --color-bg-medium: #ffffff;
    --color-bg-light: #ffffff;

    --color-text-light: #646464;
    --color-text-medium: #333333;
    --color-text-dark: #1a1a1a;

    --color-red: oklch(64.415% 0.23632 26.472);
    --color-green: #00bd3f;

    --color-primary-300: #8ec5ff;
    --color-primary-400: #51a2ff;
    --color-primary-500: #2b7fff;
    --color-primary: #155dfc;
    --color-primary-700: #1447e6;
    --color-link: #00a6f4;
    --color-link-400: hsl(196, 100%, 40%);
    --shadow-primary: rgba(43, 127, 255, 0.5);
    --shadow-primary-hover: rgba(43, 127, 255, 0.6);
}

:root[data-theme="dark"] {
    --color-bg-main: #111111;
    --color-bg-dark: #0a0a0a;
    --color-bg-semidark: #131313;
    --color-bg-medium: #171717;
    --color-bg-light: #262626;

    --color-text-light: #a1a1a1;
    --color-text-medium: #d0d0d0;
    --color-text-dark: #f0f0f0;

    --color-red: oklch(70.4% 0.191 22.216);
    --color-green: #05df72;

    --color-primary-300: #8ec5ff;
    --color-primary-400: #51a2ff;
    --color-primary-500: #2b7fff;
    --color-primary: #155dfc;
    --color-primary-700: #1447e6;
    --color-link: #00a6f4;
    --color-link-400: #00bcff;
    --shadow-primary: rgba(43, 127, 255, 0.5);
    --shadow-primary-hover: rgba(43, 127, 255, 0.6);
}

:root[data-theme="halloween"] {
    --color-bg-main: #111111;
    --color-bg-dark: #0a0a0a;
    --color-bg-semidark: #131313;
    --color-bg-medium: #171717;
    --color-bg-light: #262626;

    --color-text-light: #a1a1a1;
    --color-text-medium: #d0d0d0;
    --color-text-dark: #f0f0f0;

    --color-red: oklch(70.4% 0.191 22.216);
    --color-green: #05df72;

    --color-primary-300: #ffb86a;
    --color-primary-400: #ff8904;
    --color-primary-500: #615fff;
    --color-primary: #f54900;
    --color-primary-700: #e74d06;
    --color-link: #7876fd;
    --color-link-400: #7876fd;
    --shadow-primary: rgba(97, 95, 255, 0.5);
    --shadow-primary-hover: rgba(97, 95, 255, 0.6);
}

@theme {
    --color-bg-main: var(--color-bg-main);
    --color-bg-dark: var(--color-bg-dark);
    --color-bg-semidark: var(--color-bg-semidark);
    --color-bg-medium: var(--color-bg-medium);
    --color-bg-light: var(--color-bg-light);

    --color-text-light: var(--color-text-light);
    --color-text-medium: var(--color-text-medium);
    --color-text-dark: var(--color-text-dark);

    --color-red: var(--color-red);
    --color-green: var(--color-green);

    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary: var(--color-primary);
    --color-primary-700: var(--color-primary-700);
    --color-link: var(--color-link);
    --color-link-400: var(--color-link-400);
    --shadow-primary: var(--shadow-primary);
    --shadow-primary-hover: var(--shadow-primary-hover);
}

.button {
    @apply w-full p-2 px-5 font-semibold text-white transition-all cursor-pointer bg-primary rounded-xl hover:bg-primary-700;
}

html,
body {
    height: 100%;
    margin: 0; /* Prevent margin from body */
}

#root {
    height: 100%;
}

.maplibregl-popup {
    padding: 0px 0px !important;
}

.maplibregl-popup-content {
    padding: 10px !important;
    background-color: #222 !important;
    border-radius: 10px !important;
}
.maplibregl-popup-tip {
    border-top-color: #222 !important;
    border-bottom-color: #222 !important;
}
.maplibregl-popup-close-button {
    padding: 2px 5px !important;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.pulse-animation {
    animation: pulse-out infinite;
}
