@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    margin: 0; /* Prevent margin from body */
}

#root {
    height: 100%;
}

/* .leaflet-layer {
    filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(80%);
} */

.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: black;
}

.leaflet-bar a:last-child {
    border-bottom: none;
}

.leaflet-bar a:hover {
    background-color: #f4f4f4;
}

.leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.leaflet-touch .leaflet-bar {
    box-shadow: none;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.pulse-animation {
    animation: pulse-out infinite;
}
